@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f5f8;
}

@layer components {
  .container {
    @apply mx-auto;
    max-width: 76%;
  }
}

.filter-redprimary {
  filter: brightness(0) saturate(100%) invert(27%) sepia(87%) saturate(2913%)
    hue-rotate(346deg) brightness(65%) contrast(92%);
}

.filter-grayish {
  filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(0%)
    hue-rotate(346deg) brightness(60%) contrast(42%);
}
